#header {
  display: grid;
  grid-template-columns: 2fr 5fr;
  background-color: #393e46;
  color: white;
}
#container{
  margin: auto;
  padding: 0px;
  padding-bottom: 20px;
}

hr {
  border: none;
  border-top: 3px;
}
img {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;

}
p{
  text-align: justify;
  margin-right: 20px;
}
svg {
  width: 20px;
  height: 20px;
  margin-top: 6px;
}
.name {
  letter-spacing: 0.3em;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
.web {
  letter-spacing: 0.2em;
  margin-top:20px;
}
.underline {
 width: 470px;
 height: 5px;
 background-color: #ceced0
}
.exp{
  margin-top: 10px;
  padding: 10px;
  background-color: #cdcdcf;
}

.exp1{

  display: grid;
  grid-template-columns: 0.8fr 3fr 3fr;
  margin-left: 40px;
  margin-top: 20px;
}

#skil {
  padding: auto;
}
.HTML5{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left:50px;
}
