h1 {
  color: grey;
  text-align: center;
  padding-top: 40px;
}
hr{
  background-color: black;
  border-style: none;
  height: 5px;
}

.container{
  padding-top: 30px;
}
.header{
  display: grid;
  grid-template-columns: 6fr 2fr;
}
.objective{
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 2% 0;
}
.obj{
  background-color: #d9eeec;
  padding-left: 2%;
  padding-top: 1%;
  margin-right: 15%;
  margin-bottom: 20%;
  margin-top: 2%;
}
.obj1{
  background-color: #d9eeec;
  margin-bottom: 220px;
  margin-right: 35px;
}
.sign{
  float: right;
  text-align: center;
}
